llama-index
pymilvus>=2.4.2
llama-index-embeddings-huggingface
nltk
request
beautifulsoup4
urllib
langchain-experimental
langchain
google
genai
langchain-milvus
langchain-google-genai
langchain-huggingface
flask-cors
flask
flask-mail
pymongo
